---
version: 1
interactions:
- request:
    body: '{"access_level":"standard","name":"tf-acc-test-7lppmg40pk"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.rollbar.com/api/1/teams
    method: POST
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "id": 705099,
          "account_id": 317418,
          "name": "tf-acc-test-7lppmg40pk",
          "access_level": "standard"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.rollbar.com/api/1/team/705099
    method: GET
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "id": 705099,
          "account_id": 317418,
          "name": "tf-acc-test-7lppmg40pk",
          "access_level": "standard"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.rollbar.com/api/1/users
    method: GET
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "users": [
            {
              "username": "jmcvetta",
              "id": 238101,
              "email": "jason.mcvetta@gmail.com"
            },
            {
              "username": "tf-acc-test-rollbar-provider",
              "id": 246078,
              "email": "jason.mcvetta+tf-acc-test-rollbar-provider@gmail.com"
            },
            {
              "username": "tf-acc-test-axw6qup7g2",
              "id": 249324,
              "email": "jason.mcvetta+tf-acc-test-tf-acc-test-axw6qup7g2@gmail.com"
            },
            {
              "username": "tf-acc-test-cwneey7py6",
      [...]
[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://api.rollbar.com/api/1/team/704998/invites?page=1
    method: GET
  response:
    body: |-
      {
        "err": 0,
        "result": [
          {
            "id": 158403,
            "from_user_id": null,
            "team_id": 704998,
            "to_email": "jason.mcvetta+tf-acc-test-a4mi14cqy9@gmail.com",
            "status": "pending",
            "date_created": 1606562666,
            "date_redeemed": null
          }
        ]
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"email":"jason.mcvetta+tf-acc-test-7lppmg40pk@gmail.com"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.rollbar.com/api/1/team/705099/invites
    method: POST
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "id": 158417,
          "from_user_id": null,
          "team_id": 705099,
          "to_email": "jason.mcvetta+tf-acc-test-7lppmg40pk@gmail.com",
          "status": "pending",
          "date_created": 1606639370,
          "date_redeemed": null
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: ""
[...]
