---
version: 1
interactions:
- request:
    body: '{"name":"tf-acc-test-updateprojectteams"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.rollbar.com/api/1/projects
    method: POST
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "status": "enabled",
          "name": "tf-acc-test-updateprojectteams",
          "date_modified": 1605086090,
          "account_id": 317418,
          "date_created": 1605086090,
          "id": 423511,
          "settings_data": {
            "grouping": {
              "auto_upgrade": true,
              "recent_versions": [
                "6.0.0"
              ]
            }
          }
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4999"
      X-Rate-Limit-Remaining-Seconds:
      - "60"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 3071ms
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_level":"standard","name":"tf-acc-test-updateprojectteams-0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.rollbar.com/api/1/teams
    method: POST
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "id": 693606,
          "account_id": 317418,
          "name": "tf-acc-test-updateprojectteams-0",
          "access_level": "standard"
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4998"
      X-Rate-Limit-Remaining-Seconds:
      - "56"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 72ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/team/693606/project/423511
    method: PUT
  response:
    body: |-
      {
        "err": 0,
        "result": {
          "team_id": 693606,
          "project_id": 423511
        }
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4995"
      X-Rate-Limit-Remaining-Seconds:
      - "55"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 61ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/project/423511/teams?exclude_builtin_teams=true
    method: GET
  response:
    body: |-
      {
        "err": 0,
        "result": [
          {
           "team_id": 693607,
           "project_id": 423511
          },
          {
           "team_id": 693608,
           "project_id": 423511
          }
        ]
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"-271558731"'
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4993"
      X-Rate-Limit-Remaining-Seconds:
      - "55"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 10ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/project/0/teams?exclude_builtin_teams=true
    method: GET
  response:
    body: |-
      {
        "err": 1,
        "message": "Invalid or missing project id"
      }
    headers:
      Content-Type:
        - application/json; charset=utf-8
      Etag:
        - '"-271558731"'
      X-Rate-Limit-Limit:
        - "5000"
      X-Rate-Limit-Remaining:
        - "4993"
      X-Rate-Limit-Remaining-Seconds:
        - "55"
      X-Rate-Limit-Reset:
        - "1605086147"
      X-Response-Time:
        - 10ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/team/689493/projects?page=1
    method: GET
  response:
    body: |-
      {
        "err": 0,
        "result": []
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"110173811"'
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4992"
      X-Rate-Limit-Remaining-Seconds:
      - "55"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 15ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/team/693606
    method: DELETE
  response:
    body: |-
      {
        "err": 0
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4965"
      X-Rate-Limit-Remaining-Seconds:
      - "49"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 74ms
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.rollbar.com/api/1/project/423511
    method: DELETE
  response:
    body: |-
      {
        "err": 0
      }
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Limit:
      - "5000"
      X-Rate-Limit-Remaining:
      - "4962"
      X-Rate-Limit-Remaining-Seconds:
      - "48"
      X-Rate-Limit-Reset:
      - "1605086147"
      X-Response-Time:
      - 358ms
    status: 200 OK
    code: 200
    duration: ""
