name: Quick Tests
on:
  push:
  # Scheduled runs ensure we are alerted to incompatibilities in new releases of
  # Go and Terraform.
  schedule:
    - cron: '0 10 * * 3'

jobs:

  #
  # Run unit tests
  #
  unit_tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go:
          - ""  # Latest
          - "1.15"
          - "1.14"

    steps:

      # Install Go and Terraform
      - uses: actions/setup-go@v2
        with:
          go-version: '${{ matrix.go }}'

      # Checkout
      - uses: actions/checkout@v2

      # Restore cache
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('**/go.sum') }}

      # Run unit tests
      - name: Unit tests
        run: make test


  #
  # Verify Terraform compatibility
  #
  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform:
          - "" # Latest
          - "0.14"
          - "0.13"
          - "0.12"

    env:
      ROLLBAR_API_KEY: ${{ secrets.ROLLBAR_API_KEY }}

    steps:

      # Install Go and Terraform
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
          terraform_version: "${{ matrix.terraform }}"
      - uses: actions/setup-go@v2

      # Checkout
      - uses: actions/checkout@v2

      # Restore cache
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      # Install Provider
      - name: Install
        if: ${{ !startsWith(matrix.terraform, '0.12') }}
        run: make install
      - name: Install for Terraform 0.12
        if: ${{ startsWith(matrix.terraform, '0.12') }}
        run: make install012

      # Verify Terraform plan does not error
      - name: Initialize Terraform
        run: terraform init
        working-directory: ./example
      - name: Terraform plan
        run: terraform plan -var 'rollbar_token=${{ secrets.ROLLBAR_TOKEN }}'
        working-directory: ./example
        env:
          ROLLBAR_TOKEN: ${{ secrets.ROLLBAR_TOKEN }}
